<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Paint</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/jquery"></script>
	<script type="text/javascript" src="/javascripts/objetos.js"></script>
	<script type="text/javascript" src="/javascripts/index.js"></script>
</head>
<body>
	<div id="container">
		<canvas id="canvas">
		</canvas>
	</div>
	<div id="controles" class="controles">

		<label for="color">Color</label>
		<input type="color" name="color" id="color" value="#000000">

		<label for="tamano">Tamaño</label>
		<input type="number" name="tamano" id="tamano" min="5" max="50" value="10">

		<label for="addimage">Añadir imagen</label>
		<input type="file" name="" id="addimage">

		<a href="#" class="button" id="btn-download" value="png">Guardar PNG</a>
		<div id="mando">
			<div >
				<p id="up" value="up" >Up</p>
			</div>
			<div >
				<p id="rigth" value="rigth" >Rigth</p>
			</div>
			<div >
				<p id="down" value="down" >Down</p>
			</div>
			<div >
				<p id="left" value="left" >Left</p>
			</div>
		</div>
	</div>

	<div id="descarga" class="oculto">
		<div id="descarga_title">
			<p>TItulo</p>
		</div>
		<div id="imagen">
			
		</div>
		<a href="" id="dowload">Descargar</a>
		<p id="exit">salir</p>
	</div>
	<div id="virtual-image"></div>
	<div id="prueba">
		<img  id="imageprueb" src="" width="300" height="227" >
	</div>
</body>
</html>