body{
		font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
	overflow: hidden;
}

#container{
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	z-index: 1;
}
#canvas{
	position: relative;
	margin: 0;
	padding: 0;
}
.controles{
	width: 800px;
	position: absolute;
	z-index: 2;
	top: 10px;
	left: 50%;
	transform: translate(-75%,0%);
	padding: 10px;
}
.controles:before{
	background: steelblue;
	border: 1px solid blue;
	border-radius: 10px;
	z-index: -1;
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0;
}
input:after{
	content: "";
	position: absolute;

}
.inactive{
	opacity: 0.2;
	z-index: -1;
}

#descarga{
	position: absolute;
	top: 0;
	left: 0;
	width: 500px;
	height: 400px;
	border: 1px solid black;
	background: white;
	text-align: center;
}
#descarga #imagen{
	border: 1px solid black;
	width: 490px;
	margin: 0 auto;
}
#descarga #imagen img{
	width: 100%;
	height: 300px;
}
.oculto{
	display: none;
}
/* image virtual*/
#virtual-image{

}
.mostrar{
	border: 1px solid red;
	position: absolute;
	width: 400px;
	height: 350px;
	box-shadow: 0px 0px 1px 1px  black;
}

#virtual-image img{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}


#mando div{
	width: 50px;
	display: inline-block;
	border: 1px solid red;
	text-align: center;

}
#mando div p{
	margin: 0;
	padding: 10% 15%;
	width: 70%;
	height: 80%;
	/*background: white;*/
	display: inline-block;

}